HOST=0.0.0.0
PORT=8000
REDIS_URL=

OPENAI_API_KEY=
GOOGLE_SEARCH_ENGINE_ID=
GEMINI_API_KEY=
GOOGLE_CLOUD_PROJECT_ID=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_SECRET_NAME=

S3_BUCKET_NAME=
S3_REGION=
S3_IMAGE_PREFIX=
S3_PUBLIC_URL_TEMPLATE=


DEBUG_MODE=true
    
CELERY_WORKER_CONCURRENCY=8
CELERY_WORKER_PREFETCH_MULTIPLIER=2
CELERY_WORKER_MAX_TASKS_PER_CHILD=100
CELERY_TASK_COMPRESSION=gzip
CELERY_RESULT_EXPIRES=7200

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=